
table{
    
    color:rgb(13, 1, 1);
}
pre{
    color:white;
}
h3{
color: white;
}
.ntr{
    color: white;
    font-family: roboto;
}
html{
    background-image: url("https://i.pinimg.com/originals/1a/a9/ac/1aa9ac006e6f9a643c6ee11b8dc30b78.jpg");
    color:white
}
tbody{
    color:white;
}
thead{
    color:white;
}
h1{
    color:white;
}
p{
    color:white;
}
n{
    color:white;
}